<app-menu class="flex justify-center nav bg-slate-700"></app-menu>
<div id="Home" class="nav-place"></div>
<div class="flex justify-center items-stretch mt-2 center-on-mobile">
  <div class="text-white left self-center font-bold">
    <p class="text-2xl text-slate-600 top-animate">Hello World</p>
    <p class="text-2xl top-animate">I'm</p>
    <p class="text-4xl text-yellow-400 top-animate">Tymoteusz Marzec</p>
    <p class="text-7xl top-animate"><span class="text-pink-600">Fullstack </span><span class="text-blue-400">developer</span></p>
  </div>
  <div class="right self-center spin hide-mobile">
    <img src="../assets/penguin.png" alt="penguin" class="h-96">
  </div>
</div>

<div id="About" class="nav-place"></div>
<div class="flex justify-center">
  <div class="section bg-yellow-400 p-3">
    <p class="text-center text-5xl text-white font-bold drop-shadow-xl">About me</p>
  </div>
</div>
<div class="flex justify-center">
  <p class="text-center text-white text-xl m-4 section">Hello! My name is Tymoteusz and I'm a young Fullstack developer from Poland. I'm currently studing in high school. My interest in programming started back in 2015. Currently I am focusing on developing my coding skills and learning new things related to technology. My hobbies apart from programming are volleyball, running and Rubik's cubes.</p>
</div>

<div id="MySkills" class="nav-place"></div>
<div class="flex justify-center">
  <div class="section bg-pink-600 p-3">
    <p class="text-center text-5xl text-white font-bold drop-shadow-xl">My skills</p>
  </div>
</div>
<div class="flex justify-center">
  <div class="mobile-grid grid-container mt-6 section">
    <div class="skill-block">
      <img class="logo" src="../assets/csharp.svg" alt="C#">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/dotnet.svg" alt=".NET">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/cplusplus.svg" alt="C++">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/angular.svg" alt="Angular">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/typescript.svg" alt="TypeScript">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/javascript.svg" alt="JavaScript">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/html5.svg" alt="HTML">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/css3.svg" alt="CSS">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/postgresql.svg" alt="PostgreSQL">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/git.svg" alt="git">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/docker.svg" alt="Docker">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/linux.svg" alt="Linux">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/manjaro.svg" alt="Manjaro">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/visualstudiocode.svg" alt="Visual Studio Code">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/go.svg" alt="Go">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/tailwindcss.svg" alt="TailwindCSS">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/gnubash.svg" alt="Bash">
    </div>
    <div class="skill-block">
      <img class="logo" src="../assets/vim.svg" alt="vim">
    </div>
  </div>
</div>

<div id="Work" class="nav-place"></div>
<div class="flex justify-center">
  <div class="section bg-blue-400 p-3">
    <p class="text-center text-5xl text-white font-bold drop-shadow-xl">My Work</p>
  </div>
</div>

<div id="Contact" class="nav-place"></div>
<div class="flex justify-center">
  <div class="section bg-yellow-400 p-3">
    <p class="text-center text-5xl text-white font-bold drop-shadow-xl">Contact me</p>
  </div>
</div>

<div style="height: 10000px;"></div>
